@import '~base-scss/base';

.percent-line {
    display: flex;
}

.segment {
    @include transition-medium;
    display: inline-block;
    height: $spacing-large;

    &:hover {
        @include shadow-small;
        transform: translateY(-2px);
    }
}
