.barchart {
    display: flex;
    flex: 1 1 auto;

    .x-axis {
        path {
            stroke: #d3d3d3;
        }
    }

    .y-axis {
        path {
            stroke: #d3d3d3;
        }
    }
}

.tooltip {
    box-shadow: 0 6px 10px -3px rgba(0, 0, 0, .5);
    background-color: #fafafa;
    position: fixed;
    z-index: 10;
    padding: 6px 12px;
    animation: fade-in .2s ease-in;
    display: block;
    text-align: center;
}

