@import '~base-scss/base';

.dashboard {
    display: flex;
    width: 100vw;
    height: 100vh;

    .content {
        display: flex;
        flex-grow: 1;

        &:not(.active) {
            display: none;
        }

        .map {
            display: flex;
            flex-grow: 1;
        }
    }
}
