@import '~base-scss/base';

.dashboard {
    @extend %main-content;
    margin: auto;
    border: 0;
    width: 80%;

    .content {
        display: flex;
        height: 100%;

        &:not(.active) {
            display: none;
        }

        .dashboard-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .map {
                margin-bottom: $spacing-small;
                border: $width-separator-thin solid $color-separator;
                height: 60%;
            }

            .barchart-container {
                display: flex;
                margin: $spacing-small 0;
                border: $width-separator-thin solid $color-separator;
                padding: $spacing-medium $spacing-large;
                height: 40%;

                .barchart {
                    flex-grow: 1;
                }
            }
        }
    }
}
