.summary-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .header {
        .top-container {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--spacing-medium);

            .heading {
                flex-shrink: 0;
                margin-right: var(--spacing-medium);
                text-transform: initial;
                font-weight: var(--font-weight-bold);
            }

            .summary-list {
                flex-grow: 1;
            }
        }
    }
}
