.summary {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-foreground-alt);
    overflow-y: auto;

    .tooltip {
        .value {
            font-family: var(--font-family-monospace);
        }
    }

    .info {
        display: inline-block;
        margin-bottom: var(--spacing-small);
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-medium-alt) var(--spacing-medium);
        line-height: 1.3;
        color: var(--color-text-label);
        font-size: var(--font-size-medium-alt);
        font-style: italic;

        .info-icon {
            padding-right: var(--spacing-small);
            color: var(--color-info);
        }

        .date {
            padding: 0 var(--spacing-small);

            &:last-child ::after {
                content: '.';
            }
        }
    }

    .item {
        margin: var(--spacing-small) var(--spacing-medium);
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        width: calc(100% - 2 * var(--spacing-medium));

        h3 {
            padding: var(--spacing-small) var(--spacing-medium);
            text-transform: capitalize;
            color: var(--color-accent);
            font-weight: var(--font-weight-bold);
        }

        .date {
            display: inline-block;
            padding: 0 var(--spacing-small);
        }

        .within-tolerance {
            color: var(--color-success);
        }

        .out-of-tolerance {
            color: var(--color-danger);
        }

        .child-marriage {
            width: 100%;
        }

        .table {
            display: table;
            width: 100%;
            border-collapse: collapse;
        }

        .item-table-viz {
            display: flex;
            align-items: center;

            .table {
                flex-grow: 1;
            }

            .child-family {
                padding-right: var(--spacing-small);

                .child-family-group {
                    padding: var(--spacing-small) var(--spacing-medium);
                    text-transform: capitalize;
                }
            }

            .viz {
                margin-left: -var(--spacing-medium);
                width: 180px;
            }

            .success {
                color: var(--color-success);
            }

            .warning {
                color: var(--color-warning);
            }

            .danger {
                color: var(--color-danger);
            }

            .bold {
                font-weight: var(--font-weight-bold);
            }
        }

        .legend {
            display: flex;
            padding-left: var(--spacing-large);
        }
    }

    .soi-index {
        padding-bottom: var(--spacing-small);
    }
}
