.table-wrapper {
    flex-shrink: 0;
    padding: var(--spacing-small) 0;

    .header {
        color: var(--color-text-label);
        font-weight: var(--font-weight-bold);
    }

    .table {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

    .red {
        color: var(--color-danger);
    }

    .green {
        color: var(--color-success);
    }
}
