@import '~base-scss/base';

.table-wrapper {
    flex-shrink: 0;
    padding: $spacing-small 0;

    .header {
        color: $color-accent;
    }

    .table {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }
}
