@import '~base-scss/base';

.table-wrapper {
    flex-shrink: 0;
    padding: $spacing-small 0;

    .header {
        color: $color-text-label;
        font-weight: $font-weight-bold;
    }

    .table {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

    .red {
        color: $color-danger;
    }

    .green {
        color: $color-success;
    }
}
