@import '~base-scss/base';

.region {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-small $spacing-medium;
    }

    .upper-container {
        display: flex;
        flex-shrink: 0;
        height: 512px;

        .map {
            flex-basis: 50%;
            flex-grow: 1;
        }

        .rc-container {
            display: flex;
            flex-basis: 50%;
            flex-direction: row;
            flex-grow: 1;
            padding: $spacing-medium;

            h3 {
                flex-shrink: 0;
                padding: $spacing-extra-small $spacing-small;
            }

            .horizontal-bar-container {
                display: flex;
                flex-grow: 1;
                padding: $spacing-large;

                .horizontal-bar {
                    flex-grow: 1;
                }
            }

            .sunburst-container {
                display: flex;
                flex-grow: 1;
                padding: $spacing-large;

                .sunburst {
                    flex-grow: 1;
                }
            }
        }
    }

    .lower-container {
        display: flex;
        flex-grow: 1;

        .item-container {
            display: flex;
            flex-basis: 33%;
            flex-direction: column;
            flex-shrink: 0;
            padding: $spacing-medium;

            .item {
                flex-grow: 1;
            }
        }
    }
}
