.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.danger {
    color: var(--color-danger);
}

.region {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-separator);
    width: 100%;
    height: 100%;

    &.no-region-found {
        align-items: center;
        justify-content: center;

        .heading {
            display: flex;
            align-items: center;
            flex-direction: column;
            color: var(--color-text);
            font-size: var(--font-size-super-large);
            font-weight: var(--font-weight-medium);

            .go-back {
                outline: none;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                padding-top: var(--spacing-large);
                text-transform: capitalize;
                text-decoration: none;
                line-height: .9;
                color: var(--color-accent);
                font-family: inherit;
                font-size: var(--font-size-extra-large);
                font-weight: var(--font-weight-normal);
            }
        }
    }

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-small) var(--spacing-medium);

        .heading {
            display: flex;
            align-items: center;
            color: var(--color-accent);
            font-size: var(--font-size-extra-large);
            font-weight: var(--font-weight-medium);

            .go-back {
                outline: none;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                text-transform: capitalize;
                text-decoration: none;
                line-height: .9;
                color: inherit;
                font-family: inherit;
                font-size: var(--font-size-extra-large);
                font-weight: var(--font-weight-normal);
            }
        }
    }

    .container {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;

        h3 {
            text-transform: initial;
            color: var(--color-accent);
            font-size: var(--font-size-large-alt);
            font-weight: var(--font-weight-medium);
        }

        .item {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: var(--spacing-large);

            .viz-container {
                display: flex;
                flex-grow: 1;
                padding: var(--spacing-super-large-alt);
                height: 360px;

                .viz {
                    flex-grow: 1;
                }
            }

            .viz-table-container {
                align-items: center;
                flex-direction: column;
            }

            .table {
                display: table;
                border-collapse: collapse;
            }

            .tables {
                display: flex;
                flex-direction: column;
                overflow-y: auto;

                .heading {
                    color: var(--color-accent);
                }

                .table {
                    display: table;
                    flex-shrink: 0;
                    border-collapse: collapse;
                }
            }
        }

        .lower-container {
            display: flex;
            flex-wrap: wrap;

            .item {
                flex-basis: calc(100% / 3);
                height: 60vh;

                h3 {
                    padding-top: var(--spacing-extra-large);
                    text-align: center;
                }

                &:nth-child(even) {
                    background-color: var(--color-foreground-alt);
                }

                .table {
                    flex-grow: 1;
                }

                .bold {
                    font-weight: var(--font-weight-bold);
                }

                .language-people-group-disability {
                    display: flex;
                    height: 60vh;
                    overflow-y: auto;
                }
            }

            .table-viz {
                display: flex;
                align-items: center;

                .table {
                    align-self: flex-start;
                    flex-grow: 1;
                }

                .viz {
                    margin-left: -var(--spacing-medium);
                    width: 180px;
                }
            }

            .viz-group {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                h3 {
                    padding-top: var(--spacing-extra-large);
                    text-align: center;
                }

                .viz {
                    flex-grow: 1;
                    margin-left: -var(--spacing-medium);
                }

                .table {
                    align-self: flex-start;
                }
            }
        }

        .upper-container {
            display: flex;
            flex-shrink: 0;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);

            .map {
                flex-basis: 50%;
                flex-grow: 1;
            }

            .table-container {
                flex-basis: 50%;
                flex-grow: 1;

                .item {
                    flex-basis: 50%;

                    .table {
                        display: table;
                        flex-grow: 1;
                        margin-top: var(--spacing-medium);
                        border-collapse: collapse;
                    }

                    .viz-wrapper {
                        display: flex;

                        .table {
                            flex-grow: 1;
                        }

                        .viz {
                            height: 180px;
                        }
                    }
                }
            }
        }
    }
}
