.map {
    .hover-info {
        h4 {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-small) var(--spacing-medium);
            text-transform: capitalize;
            color: var(--color-accent);
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-bold);
        }
    }
}
