@import '~base-scss/base';

.item {
    display: table-row;
    border-bottom: $width-separator-thin solid $color-separator;

    .title {
        display: table-cell;
        padding: $spacing-small $spacing-medium;
    }

    .value {
        display: table-cell;
        padding: $spacing-small $spacing-medium;
        text-align: right;
    }
}
