@import '~base-scss/base';

$color-text-on-navbar: get-text-color($color-navbar);
$color-text-on-primary: get-text-color($color-primary);

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 $spacing-extra-small $spacing-small (-$spacing-extra-small) $color-shadow-medium;
    background-color: $color-navbar;
    padding: 0 $spacing-medium-alt;
    color: $color-text-on-navbar;
}
