.navbar {
    display: flex;
    align-items: center;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-navbar);
    padding: 0 var(--spacing-medium-alt);
    color: var(--color-text-on-navbar);

    .header {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        text-transform: capitalize;

        .logo {
            height: 28px;
            object-fit: contain;
        }

        .button {
            outline: none;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            text-transform: capitalize;
            text-decoration: none;
            line-height: 0.9;
            color: inherit;
            font-family: inherit;
            font-size: var(--font-size-large-alt);
            font-weight: var(--font-weight-normal);
        }
    }
}
